body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.add-to-cart-btn:hover {
  background-color: #003d29;
  color: white;
}

.add-to-cart-btn.active {
  background-color: #003d29;

  color: white;
}
